h1 {
    text-align: center;
    color: green;
    border: 0.5px solid red;
}
/* Colored all content of div element. */

div {
    color: green;
}

/* Styling only descendent elements*/
.des p {
    color: blue;
}

/* Styling only child elements */
#child > p {
    color: tomato;
}
#adj + p {
    color: blueviolet;
}
/* Siblings style */
#sibling ~ p {
    color: brown;
}

/* attribute selector */
[href] {
    /* background-color: black; */
    color: black;
    text-decoration: none;
    font-family: cursive;
}
[border="1"] {
    color: darkblue;
    font-size: 25px;
}
a[href="google.com"] {
    color: rgb(146, 0, 190);
}
/* pseudo-element selector */
#sudo::first-line {
    color: red;
}
.sec::first-letter {
    color:lightgreen;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 220, 220);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* hoverin list */
li a:hover {
    font-size: 30px;
    color: red;
}
/* Coloring odd paragraph in hello class elements */
.hello p:nth-child(odd) {
    color: rgb(160, 160, 0);
}
/* Coloring even paragraph in world id elements */
#world p:nth-child(even) {
    background-color: black;
    color: White;
}